.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footer {
    height: 3vmin;
}

.startbild {
    background: rgba(123, 116, 110, 0.6);
}

h2 {
    color: #7b746e;
}

.container {
    position: relative;
}

#extractoverlay {
    position: absolute;
    left: 60%;
    top: 10%
}

#transformoverlay {
    position: absolute;
    left: 60%;
    top: 45%
}

#loadoverlay {
    position: absolute;
    left: 60%;
    top: 80%
}

#overlayzookeeper {
    bottom: 71%;
    left: 30%;
    height: 12%;
    width: 6%;
}

#overlaykafka {
    bottom: 63%;
    left: 25%;
    height: 12%;
    width: 6%;
}

#overlaytransformation {
    bottom: 44%;
    left: 24%;
    height: 10%;
    width: 8%;
    border-radius: 0% !important;
}

#overlaydockertensorflow {
    bottom: 3%;
    left: 66%;
    height: 22%;
    width: 17%;
    border-radius: 0% !important;
}

#overlaysupersetui {
    bottom: 69%;
    left: 47%;
    height: 30%;
    width: 15%;
}

#overlaydatawarehouse {
    bottom: 15%;
    left: 37%;
    height: 60%;
    width: 15%;
    border-radius: 0% !important;
}

#overlaydatenbasis {
    bottom: 47%;
    left: 2%;
    height: 28%;
    width: 18%;
    border-radius: 0% !important;
}

#overlayml {
    bottom: 51%;
    left: 60%;
    height: 14%;
    width: 10%;
}

.overlaybuttoninvisible {
    opacity: 0;
    background-color: #308ec1 !important;
    position: absolute;
    font-size: 5vh;
    color: #fff !important;
    border-radius: 50% !important;
    font-weight: 600 !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.overlaybutton:hover {
    cursor: pointer;
}

.overlaybutton {
    position: absolute;
    height: 4vh;
    width: 4vh;
    font-size: 5vh;
    color: #fff !important;
    background-color: #308ec1 !important;
    border-radius: 50% !important;
    font-weight: 600 !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.overlaybutton:hover {
    cursor: pointer;
}

#overlay1 {
    bottom: 37%;
    left: 28%;
}

#overlay2 {
    bottom: 45%;
    left: 49%;
}

#overlay3 {
    bottom: 15%;
    left: 49%;
}

#overlay4 {
    bottom: 75%;
    left: 80%;
}

#overlay5 {
    bottom: 43%;
    left: 87%;
}

.btn-etl {
    color: #fff !important;
    background-color: #7b746e !important;
    border-color: #7b746e !important;
    opacity: 0.8;
    width: 32% !important;
    font-size: 1rem;
    padding: 0 0 0 0 !important;
}

.btn-maschine {
    color: #fff !important;
    background-color: #7b746e !important;
    border-color: #7b746e !important;
    opacity: 0.8;
}

.etl_images_modal {
    width: 60%;
}

.modal-dialog {
    max-width: 65vw !important;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#nav1 {
    /*whichever you want*/
    opacity: 1;
    background: #7b746e !important;
    filter: (opacity=50);
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

.pt-6,
.py-6 {
    padding-top: 5rem !important;
}

.pr-6,
.px-6 {
    padding-right: 5rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
    padding-left: 5rem !important;
}

hr.style1 {
    border-top: 1px solid black;
}

.ul {
    list-style: none;
}

.imgzentriert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

figure {
    padding: 5px;
    float: left;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

figure img {
    border-radius: 3px 3px 0 0;
}

figure figcaption {
    padding: 2px 4px 2px 4px;
    border-radius: 0 0 3px 3px;
}

.initial {
    float: left;
}

p.initial::first-line {
    line-height: 100%;
}

p.initial::first-letter {
    color: white;
    background-color: #509bc4;
    font-size: 300%;
    font-weight: bold;
    padding: 0.2em 0.1em;
    margin: 0.2em 0.2em 0 0.1em;
    box-shadow: 0 0 0 .1em #509bc4;
    float: left;
    line-height: 1.5em;
    border-radius: 10px;
}

.flex {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: yellow;
}