<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="k_nearest.html">K-nearest</a>
                                <a class="dropdown-item" href="randomForest.html">Random forest</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="gradientenverfahren.html">Gradientenverfahren</a>
                                <a class="dropdown-item" href="logreg.html">Logische Regression</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Datenschema</h2>

        <!--######################################################## Einführung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Beschreibung</h3>
                    <p>Die Maschine befüllt zwei Tabellen mit Daten, die wir für unsere Machine Learning Modelle verwenden.</p>
                    <p>Um die produzierten Daten näher zu verstehen, wird im folgenden ein Beispieldatensatz näher erklärt.</p>
                </div>
                <div class="col-sm-4">
                    <!-- <img src="images/datensatz.png" width="50%"> -->
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Beschreibung ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
                <h3>Beispiel Datensatz</h3></br>
                <div>Die Tabelle <b>values_actual</b> enthält nur die neuesten gemessenen Überwachungsdaten der Maschine. Liefert die Maschine für einen Überwachungswert einen neuen Datensatz, so wird der alte Datensatz überschrieben. Die Tabelle besteht in unserem Fall aus 56 Datensätzen, was somit auch die Anzahl der verschiedenen überwachten Werte der Maschine angibt. Diese Tabelle eignet sich damit für einfache Überwachungsmonitore.</div></br>
            <div class="row">
                    <div class="col-sm-6">
                        <p>Folgende Fragen können mithilfe eines Datensatzes beanwortet werden:</p>
                        <p>
                            <ol>
                                <li>Welche Komponente hat den Wert erzeugt?</li>
                                    <ul><li><div style="font-family: 'Roboto Mono', monospace;">componentID</div></li></ul>
                                <li>Wann wurde der Wert erzeugt?</li>
                                    <ul><li><div style="font-family: 'Roboto Mono', monospace;">timeStamp</div></li></ul>
                                <li>Um welchen Typ von Überwachungswert handelt es sich?</li>
                                    <ul><li><div style="font-family: 'Roboto Mono', monospace;">ValueName</div></li></ul>
                                <li>Welchen Wert in welcher Einheit hat die Maschine geliefert?</li>
                                    <ul><li><div style="font-family: 'Roboto Mono', monospace;">value, valueUnit</div></li></ul>
                                <li>In welchem Bereich bewegt sich dieser Wert?</li>
                                    <ul><li><div style="font-family: 'Roboto Mono', monospace;">minValue bis maxValue</div></li></ul>
                                <li>Wie soll der Wert auf einem Überwachungsmonitor dargestellt werden?</li>
                                    <ul><li><div style="font-family: 'Roboto Mono', monospace;">ValueDisplayMappingId, DisplayElementName</div></li></ul>
                            </ol>
                        </p>
                    </div>
                <div class="col-sm-6">
                    
                    <img src="images/datensatz.png" width="100%">
                    <figcaption>Beispieldatensatz der Tabelle values_actual</figcaption>
                    
                </div>
            </div>
            <div></br>
                Die zweite Tabelle <b>values_ncprogram</b> bekommt die gleichen Daten wie values_actual. Beim Abspeichern werden die alten Daten allerdings nicht überschrieben, sodass diese Tabelle nach der Verwendung der Maschine eine Historie aller gesammelten Daten enthält.
            </div></br>
            <!-- <hr class="style1"> -->
        </div>

        <!--######################################################## Weiterführende Links ########################################################-->



        <!--######################################################## Quellen ########################################################-->



        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>