<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="k_nearest.html">K-nearest</a>
                                <a class="dropdown-item" href="random_forest.html">Random forest</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="gradientenverfahren.html">Gradientenverfahren</a>
                                <a class="dropdown-item" href="logreg.html">Logische Regression</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Gradientenverfahren</h2>

        <!--######################################################## Beschreibung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Beschreibung</h3>
                    <p>Das Gradientenverfahren (auch Gradientenabstieg) ist als Optimierungsalgorithmus Kern vieler modernen Trainingsverfahrens. Ziel des Verfahrens ist das Minimieren der Fehlerfunktion. Die Modelparameter sind die Eingabewerte in die Funktion. Basierend auf der Steigung der Fehlerfunktion werden die Modelparameter angepasst, die Fehlerfunktion minimiert und so das Model optimiert.</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/gradienten.png" width="100%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Theorie ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Theorie</h3> 
                    <p>*Hier einfügen*</p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Umsetzung in Python ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Umsetzung in Python</h3>
                    <p>Some text..</p>
                    <pre class="prettyprint linenums">def sayHi(name):<br>  print("hi" + name)<br><br>sayHi("Tom")</pre>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Vor- und Nachteile des Algorithmus ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Vor- und Nachteile des Algorithmus</h3>
                    <p>Vorteile:
                    <ul>+ ???</ul>
                    <ul>+ ???</ul>
                    <p>Nachteile:
                    <ul>- ???</ul></p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Weiterführende Links ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Weiterführende Links</h3>
                    <p><a href="https://www.youtube.com/watch?v=GkB4vW16QHI">YouTube</a></p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Quellen ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Quellen</h3>
                    <p><a href="https://www.angermayer.de/padochp/menue5.html">Angermayer</a></p>
                    <p><a href="https://en.wikipedia.org/wiki/Gradient_descent">Wikipedia</a></p>
                    <p><a href="https://machinelearningmastery.com/gradient-descent-for-machine-learning/">Machine Learning Mastery</a></p>
                </div>
            </div>
        </div>

        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>