<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="k_nearest.html">K-nearest</a>
                                <a class="dropdown-item" href="randomForest.html">Random forest</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="gradientenverfahren.html">Gradientenverfahren</a>
                                <a class="dropdown-item" href="logreg.html">Logische Regression</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">ML.NET</h2>

        <!--######################################################## Einführung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Beschreibung</h3>
                    <p>ML.NET ist ein Framework, das Machine Learning-Ansätze für neu oder bereits existierende .NET-Software bereitstellt.</p>
                    <p>Gerade für Unternehmen, die bereits über eine große Codebasis in C# oder F# verfügen, wird so das Entwickeln und Einbinden neuer, durch Machine Learning ermöglichter Funktionen vereinfacht.</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/mlnet.png" width="50%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Beschreibung ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
                <h3>Machine Learning im .NET-Ökosystem mit ML.NET</h3></br>
            <div class="row">
                    <div class="col-sm-4">
                        <p><b>Model Discovery</b> wird der erste Einsatzbereich von AutoML genannt. Verschiedene Modelle, die sich für die Aufgabe eignen, werden „antrainiert“ und gerankt.</p>
                    </div>
                    <div class="col-sm-4">
                        <p><b>AutoML</b> hilft, in kurzer Zeit mehrere relevante Algorithmen und Parametersätze auszuprobieren. </br> Einordnung von AutoML:</p>
                    </div>
                    <div class="col-sm-4">
                        <p><b>Parameter Sweeping</b> wird der zweite Einsatzbereich von AutoML genannt. Einzelne Modelle werden ausgewählt und verschiedene Parametersätze ausprobiert. Das Ergebnis kann als Startpunkt für die Optimierung verwendet werden.</p>
                    </div>
            </div>

            <div class="row">
                    <div class="col-sm-4">
                        <img src="images/modeldisc.png" width="80%">
                    </div>
                    <div class="col-sm-4">
                        <img src="images/automl1.png" width="60%">
                    </div>
                    <div class="col-sm-4">
                        <img src="images/parametersweep.png" width="70%">
                    </div>
            </div>
            <hr class="style1">
        </div>

            <!--######################################################## Wie funktioniert AutoML? ########################################################-->

         <div class="container pt-1" style="margin-top:30px">
                <h3>Wie funktioniert AutoML?</h3>
                <div class="row">
                <div class="col-sm-6">
                    <p><b>Dataset:</b></br>Legt das Format der eingegebenen Daten fest.</p>
                    <p><b>Optimization Metric:</b></br>Auswahl der zu optimierenden Metrik.</p>
                    <p><b>Constraints</b></br>Eingrenzen des Experiments z.B. durch Vorgabe der Dauer.</p>
                  </div>
                  <div class="col-sm-6">
                    <img src="images/automl.png" width="80%">
                </div>
                 </div>
             <hr class="style1">
         </div>
        
        <!--######################################################## Was kann ML.net? ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Was kann ML.net?</h3></br>
                        <div class="flex-container">
                            <figure>
                                <img src="images/mlnet1.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Binary</br>Classification</figcaption>
                            </figure>
                            <figure>
                                <img src="images/mlnet2.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Multiclass</br>Classification</figcaption>
                            </figure>
                            <figure>
                                <img src="images/mlnet3.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Clustering</figcaption>
                            </figure>
                            <figure>
                                <img src="images/mlnet4.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Regression</figcaption>
                            </figure>
                            <figure>
                                <img src="images/mlnet5.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Anomalie</br>Detection</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <hr class="style1">
            </div>

        <!--######################################################## Weiterführende Links ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Weiterführende Links</h3>
                    <p><a href="https://towardsdatascience.com/introduction-to-machine-learning-in-c-with-ml-net-bf45502d8110">Towards Data Science</a></p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Quellen ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Quellen</h3>
                    <p><a href="https://github.com/dotnet/machinelearning"</a>https://github.com/dotnet/machinelearning</p>
                    <p><a href="https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/"</a>https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/</p>
                </div>
            </div>
        </div>

        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>