<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=python&amp;skin=desert"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--######################################################## Navigationsleiste ########################################################-->

    <div id="home">
        <div class="align-page-end">
            <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light" id="nav1">
                <a class="navbar-brand" href="index.html#home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ablauf und Vorgehen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="index.html#einfuehrung">Projektbeschreibung</a>
                                <a class="dropdown-item" href="index.html#machine">Die Maschine</a>
                                <a class="dropdown-item" href="index.html#useCases">Versuchsaufbau</a>
                                <a class="dropdown-item" href="index.html#etl">ETL Prozess</a>
                                <a class="dropdown-item" href="index.html#machineLearning">Machine Learning</a>
                                <a class="dropdown-item" href="index.html#results">Ergebnisse</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Algorithmen</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="k_nearest.html">K-nearest</a>
                                <a class="dropdown-item" href="random_forest.html">Random forest</a>
                                <a class="dropdown-item" href="ensembles.html">Ensembles</a>
                                <a class="dropdown-item" href="linreg.html">Lineare Regression</a>
                                <a class="dropdown-item" href="gradientenverfahren.html">Gradientenverfahren</a>
                                <a class="dropdown-item" href="logreg.html">Logische Regression</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Frameworks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="ml.html">ML.net</a>
                                <a class="dropdown-item" href="tensorflow.html">Tensorflow</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descr.html">Begriffserklärungen</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--######################################################## Titel ########################################################-->

        <h2 class="container pt-6 text-center">Tensorflow</h2>

        <!--######################################################## Einführung ########################################################-->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Beschreibung</h3>
                    <p>Tensorflow ist eine Plattform für Machine Learning. Sie wurde von Google entwickelt und ist frei verfügbar einsetzbar. Tensorflow kommt mit einer vielfältigen, umfassenden Umgebung von Bibliotheken, Tools und Community Ressourcen, welche Wissenschaftler unterstützen state-of-the-art Modelle zu entwickeln und zu veröffentlichen.</p>
                    <p>Tensorflow ist ein Python-Framework, das über High-level-Schnittstellen zum einfachen Erstellen, Trainieren und Ausliefern von Machine Learning-Modellen verfügt.</p>
                    <p>Daneben wird der Zugriff auf interne Klassen und Abläufe ermöglicht, sodass fortgeschrittene Modelle direkt auf Tensorflow aufbauen können.</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/tf.png" width="70%">
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Wie funktioniert Tensorflow? ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Wie funktioniert Tensorflow?</h3>
                    <p>Tensorflow baut auf der Programmiersprache Python auf, welche im Moment eine der am meisten verwendeten Sprachen für Programmierer ist. Durch die Mehrschichtige Architektur können mit Hilfe von Tensorflow schnell Standardmodelle zum einsatzgebracht werden. Diese High Level API läuft unter dem Namen Keras und wurde im Oktober 2019 zum Kern von Tensorflow integriert. Keras erlaubt es Entwicklern schnelle Tests durchführen zu können, mit welchen Theorien schnell überprüft werden können. Möchte man seine eigenen Modelle entwickeln, oder benötigt eine eigene Konfiguration eines Modells, so kann man mit Tensorflow seine eigenen Modelle bis auf den Grundbaustein selbst programmieren.</p>
                    <p>Tensorflow ist eine extreme Leistungsfähige und skalierbare Plattform welche nicht nur Wissenschaftlern, sondern auch Firmen hilft Probleme wie automatische Spracherkennung, Objekterkennung in Bildern, Analyse natürlicher Sprache, Produktempfehlungen und vielen anderen zu lösen. Durch die volle Integration von der Entwicklung eines Modells bis zur Bereitstellung für die Produktion hat Tensorflow eine Wertschöpfungskette geschaffen die es einem erlaubt mit nur einer Plattform einen Use Case vollständig abzubilden.</p>
                </div>
            </div>
            <hr class="style1">
        </div>

         <!--######################################################## Was kann Tensorflow? ########################################################-->

         <div class="container pt-1" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Was kann Tensorflow?</h3></br>
                        <div class="flex-container">
                            <figure>
                                <img src="images/tf1.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Einfaches erstellen von Modellen</figcaption>
                            </figure>
                            <figure>
                                <img src="images/tf2.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Entwickeln auf PC, in der Cloud und im Browser</figcaption>
                            </figure>
                            <figure>
                                <img src="images/tf3.png" width="100" height="100" alt="" style="margin:5px">
                                <figcaption>Vielfältiger Einsatz in Forschung und Entwicklung</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <hr class="style1">
            </div>

        <!--######################################################## Weiterführende Links ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Weiterführende Links</h3>
                    <p><a href="https://towardsdatascience.com/a-simple-introduction-to-tensorflow-d992eb2e3dbb">Towards Data Science</a></p>
                    <p><a href="https://www.tensorflow.org/">Tensorflow</a></p>
                </div>
            </div>
            <hr class="style1">
        </div>

        <!--######################################################## Quellen ########################################################-->

        <div class="container pt-1" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Quellen</h3>
                    <p><a href="https://github.com/tensorflow/tensorflow">https://github.com/tensorflow/tensorflow</a></p>
                    <p><a href="https://www.tensorflow.org/install/source_windows">https://www.tensorflow.org/install/source_windows</a></p>
                </div>
            </div>
        </div>

        <!--######################################################## Footer ########################################################-->

        <div class="jumbotron align-bottom" style="margin-bottom:0">
            <img src="images/digitallab.png" id="footer" alt="Digital Lab">
        </div>
    </div>

</body>